<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Anasayfa</title>
</head>
<body>
    <img class="bg" src="/img/wallpaper/food_menu.jpg" alt="">
    <div class="box">
        <div>
            <center><h1 class="title"><i>NARGİLELER</i></h1></center>
        </div>
        <% for( let index = 0; index < query.length; index++ ) { %>
            <a href="<%= i %>/<%= query[index].id %>"><div class="product"><%= query[index].urun %><br><%= query[index].fiyat %> TL</div></a>
        <% } %>
    </div>
</body>
</html>